In [5]:
# Initialization
%matplotlib inline
from warnings import filterwarnings
filterwarnings('ignore')

In [16]:
from pandas import read_csv
from sklearn.cluster import KMeans
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

In [20]:
df = read_csv("https://raw.githubusercontent.com/wooihaw/datasets/main/shopping_data.csv")
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [35]:
X = df.values[:, 2:5]
scl = StandardScaler()
Xs = scl.fit_transform(X)

scores = []
for k in range(2, 11):
    km = KMeans(n_clusters=k).fit(Xs)
    scores.append(silhouette_score(Xs, km.labels_))

optimum = scores.index(max(scores)) + 2
print(f"Optimal number of clusters: {optimum}")

Optimal number of clusters: 6

In [36]:
km = KMeans(n_clusters=optimum).fit(Xs)
y = km.labels_

In [37]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)
scores = cross_val_score(LogisticRegression(), Xs, y, cv=kf, n_jobs=-1)
print(f"{scores.mean():.3%}, {scores.std():.3%}")

98.500%, 2.000%